init_daemon_domain(init_proton)

type init_proton, domain, coredomain;
type init_proton_exec, system_file_type, exec_type, file_type;

# Basic shell commands
allow init_proton shell_exec:file { execute getattr open read };
allow init_proton system_file:file execute_no_trans;

# DeviceConfig service
allow init_proton servicemanager:binder call;
allow init_proton system_server:binder { call transfer };
allow system_server init_proton:binder call;
